/* styles.css */

/* Set the color and margin for the name */
.name h1 {
    color: #3399CC; /* Change the color of the name to blue */
    margin-top: 35px;
}

/* Style skill categories */
.category {
    margin-bottom: 20px; /* Add vertical spacing between categories */
}

/* Style skill titles */
.category-title {
    font-weight: bold;
}

/* Style skill lists */
.skill-list {
    list-style-type: none; /* Remove the list bullet points */
    margin-left: 0;
    padding-left: 0;
}

/* Style individual skills */
.skill-list li {
    font-weight: normal; /* Make skills not bold */
    display: inline; /* Display skills in a line */
    margin-right: 5px; /* Add spacing between skills */
}

/* Style the portfolio heading */
.portfolio-heading {
    text-align: center; /* Center-align the heading text */
    margin-bottom: 20px; /* Add some spacing below the heading */
    color: #22679A; /* Use the color of your name */
    font-weight: bold; /* Make the heading bold */
}

/* Style the project headings */
.project-heading {
    color: #22679A; /* Use the color of your name */
    font-weight: bold; /* Make the heading bold */
}

/* Style the project titles */
.project-title {
    color: #22679A; /* Use the color of your name */
    font-weight: bold; /* Make the title bold */
}

.project-description p:first-child {
    font-weight: bold;
}

.container {
    overflow: hidden; /* Clear the floats */
}

.column {
    float: left;
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
}

.left {
    margin-left: 60px;
}

.right {
    margin-right: 60px;
}

.clear {
    clear: both;
}

.portfolio-item img {
    max-width: 100%;
}
